<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calcultor_hd_realise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E06A5CC31EB1E3A9006F0866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06A5CDC1EB1E3AA006F0866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06A5CE71EB1E3AA006F0866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
